MLFLOW_PORT=5001
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MINIO_BUCKET=mlflow
POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops
POSTGRES_DB=mlflow
PREFECT_API_URL=http://127.0.0.1:4200/api
REDPANDA_BROKER=localhost:9092
MODEL_NAME=yolo-barcode-detector
